{% extends 'base.html' %}


{% block content %}
      <div class="container pt-5">
        <h1 class="mb-5">SignIn</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <div class="text-center">
        <p>Not Registered? <a href="{% url 'sign_up' %}">Sign Up now.</a></p>
      </div>
          {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
                  {% for message in messages %}
        <!--          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
                      {{ message }}
                  {% endfor %}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
      </div>
{% endblock %}
